<style>
#navbar{
  background-color:#000000
}
#container{
  color:#ffffff
}
</style>

<header style="float:right;" class="navbar navbar-fixed-top" id="navbar">
 <div class="navbar-inner" id="navbar-inner">
  <div class="container" id="container">
   <%= link_to "Movies", "/movies" %>
   <%= link_to "Events", "/events" %>
   <% if current_user %>
     <%= current_user.email %>
     <%= link_to "Sign out", "/logout" %>
   <% else %>
     <%= link_to "Sign in", "/login" %>
     <%= link_to "Sign up!", "/users/new" %>
   <% end %>
  </div>
 </div>
</header>
