<header style="float:right;" class="navbar navbar-fixed-top">
 <div class="navbar-inner">
  <div class="container">
   <%= link_to "Movies", "/movies" %>
    <%= link_to "Events", "/events" %>
    <% if current_user %>
     <%= current_user.email %>
     <%= link_to "Sign out", "/logout" %>
    <% else %>
     <%= link_to "Sign in", "/login" %>
    <% end %>
  </div>
 </div>
</header>
