<div>Title Date Location </div>
<% @events.each do |event| %>
    <div> 
      <%= link_to event.title, event %> 
      <%= event.date %> 
      <%= event.location %> 
      <% if User.find(session[:user_id]).role == "Admin" %>
        <%= link_to 'Edit', edit_event_path(event) %> 
        <%= link_to 'Destroy', event, confirm:  'Are you sure?', method: :delete %>
      <% end %>
    </div>
<% end %>
