<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>Check off users to invite to this event</p>

<%= form_for(@event, :url => send_invitations_path) do |f| %>
  <% @users.each do |user| %>
    <% if user.id != session[:user_id] %>
      <li><input type="checkbox" name="checkeduser<%= user.id %>"><%= user.name %></input></li>
    <% end %>
  <% end %>
  <br>
  <br>

  <div class="actions">
    <%= f.submit "Send Invitations" %>
  </div>
<% end %>

<%= link_to 'Back', event_path(@event) %>
