<script>
  $(function() {
      $( "#sortable" ).sortable();
      $( "#sortable" ).disableSelection();
  });
</script>

<h1> Rank movies for this event </h1>
<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<%= form_for(@event, :url => send_ranks_path ) do |f| %>
<p>
  <b>Please rank your preferences for the following movie choices by dragging to reorder:</b>
  <ol id="sortable" style="list-style-type:decimal;">
  
  <% @suggestions.each do |suggestion| %>
    
    
    <li class="ui-state-default"><span data-id="<%= suggestion.movie.id %>" class="ui-icon ui-icon-arrowthick-2-n-s"></span><%= suggestion.movie.title %></li>
    
  <% end %>
  
  </ol>
</p>

  <div class="actions">
    <%= f.submit "Send Ranks" %>
  </div>
<% end %>

<%= link_to 'Back', events_path %>
<%#= link_to 'Back', show_event_path(@event) %>
