<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Top Three Movies:</b>
  <ol>
    <% top_movies = @event.get_top_three %>
    <% top_movies.each do |m| %>
      <%# u = User.find_by_id(Suggestion.where(:movie_id => m.id, :event_id => @event.id).first.user_id) %>
      <li style="font-style:italic;"><%= m %></li>
    <% end %>
  </ol>
</p>

<p>
  <b>All Suggested Movies:</b>
  <ul>
  <% @suggestions.each do |suggestion| %>
    <% u = User.find_by_id(suggestion.user_id) %>
    <li><span style="font-style:italic;"><%= suggestion.movie.title %></span>, suggested by <%= u.name %></li>
  <% end %>
  </ul>
</p>

<%= link_to 'Suggest Movies', suggestions_event_path(@event) %> |
<%= link_to 'Rank Movies', rank_event_path(@event) %> |
<% if User.find(session[:user_id]).role == "Admin" %>
  <%= link_to 'Invite Users', invite_event_path(@event) %> |
  <%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<%= link_to 'Back', events_path %>
