<p id="notice"><%= notice %></p>

<p>
  <b>String:</b>
  <%= @event.string %>
</p>

<p>
  <b>Datetime:</b>
  <%= @event.datetime %>
</p>

<p>
  <b>String:</b>
  <%= @event.string %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
