<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Movies:</b>
  <ul>
  <% @suggestions.each do |suggestion| %>
    <li><%= suggestion.movie.title %></li>
  <% end %>
  </ul>
</p>

<%= link_to 'Rank Movies', rank_event_path(@event) %> |
<% if User.find(session[:user_id]).role == "Admin" %>
  <%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<%= link_to 'Back', events_path %>
